<!-- 
<div class="btn-group">
    <button class="btn btn-primary mt-5" (click)="guardarCliente()" > Guardar Clientes </button>
    <button class="btn btn-primary mt-5" (click)="guardarProducto()" > Guardar Productos </button>
    <button class="btn btn-warning mt-5" (click)="eliminarClientes()"> Eliminar clientes </button>
    <button class="btn btn-warning mt-5" (click)="eliminarProductos()"> Eliminar Productos </button>
    <button class="btn btn-danger mt-5" (click)="eliminarTodos()"> Eliminar Todo </button>
</div>


<div class="container mt-4 ">
    <div class="clientes" *ngFor="let cliente of clientesLocales">
        <p>Cliente : {{ cliente.nombre }} </p>
        <p>Edad : {{ cliente.apellido }} </p>
    </div>
</div>


<div class="container mt-4">
    <div class="productos" *ngFor="let producto of productosLocales" >
        <p>Producto : {{ producto.nombre }} </p>
        <p>Precio : {{ producto.precio  }} </p>
    </div>
</div> -->